
<section>
  <div class="product">
    <img src="https://i.imgur.com/EHyR2nP.png" alt="The cover of Stubborn Attachments" />
    <div class="description">
      <h3>Stubborn Attachments</h3>
      <h5>$20.00</h5>
    </div>
  </div>
  <form action="/checkout" method="POST">
    {{# if products }}
      {{# each products}}
        <input type="hidden" id="price_id" name="price_id" value={{this.item.price_id}}>
        <input type="hidden" id="prod_qty" name="prod_qty" value={{this.qty}}>
      {{/each}}
    {{/if}}
    
    <button type="submit" id="checkout-button">Checkout</button>
  </form>
</section>

  